body {
  margin:0;
  padding: 0;
}

ul {
  list-style: none;
  display: flex;
}
li {
  padding: 0 16px 0 0; 
}
a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1F2937;
  color: #F9FAF8;
  padding: 0 24px 0 24px;
}

.logo {
  font-size: 24px;
}

img {
  height: auto;
  max-width: 350px;
}

.hero {
  background-color: #1F2937;
  display: flex;
  color: #E5E7EB;
  padding: 24px;
  gap: 8px;

}
.header > h1 {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: bolder;
}
button {
  background-color: #3882F6;
  border-color: #3882F6;
  color: #E5E7EB;
  border-radius: 8%;
  padding: 4px 8px 4px 8px;
}
.information {
  padding: 30px 0px 30px 0px;
}

h2 {
  text-align: center;
  font-family: sans-serif;
  font-size: 36px;
  font-weight:bolder;
}
.tile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  
}

.tiles {
display: flex;
flex-flow: column wrap;

width: 140px

}

.tiles > img {
  width: 120px;
  height: 120px;
}

.quote {
  background-color: #E5E7EB;
  font-style: italic;
  font-size: 36px;
  font-weight:lighter;
  padding: 50px;
  text-align: center;
}

#name {
  text-align: end;
  font-size: 24px;
  font-weight: bold;
}

.action {
  background-color: #3882F6;
  color:#F9FAF8;
  margin: 50px;
  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 24px;
}
.action-btn > button{
  border: 1px solid #F9FAF8;
}

footer {
  background-color: #1F2937;
  color: #F9FAF8;
  text-align: center;
  padding: 28px 0;
  font-size: 14px;
}